$toolbar-height: 36px;

.container {
  padding: 10px;
}

.mat-toolbar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  min-height: $toolbar-height;
  mat-toolbar-row {
    height: $toolbar-height;
    text-align: center;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
