<mat-toolbar color="primary" *ngIf="electron.isElectron()">
  <mat-toolbar-row>
    <span class="spacer"></span>
    <span class="mat-body-1">Test app</span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <h1 class="title" class="mat-headline">
    {{ 'PAGES.HOME.TITLE' | translate }} ({{ electron.isElectron() ? "with electron" : "on the web"}})
  </h1>

  <mat-form-field *ngIf="electron.isElectron()">
    <input matInput type="number" [formControl]="badgeCount" placeholder="Update the badge count" />
  </mat-form-field>
</div>